* {
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #f9013f;
}

.game-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.rps-display {
    display: flex;
    column-gap: 50px;
}

.player-display,
.computer-display {
    height: 250px;
    width: 300px;
    background-color: #282828;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.play-score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

h4 {
    color: black;
    font-size: 32px;
}

h5 {
    color: white;
    font-size: 32px;
}

.rps-select {
  height: 150px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.play-select {
    height: 100px;
    width: 100px;
    background-color: #282828;
    border-radius: 50%;
    transition: all 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-select:hover {
    transform: scale(1.1);
}

.play-select-icon {
    font-size: 50px;
    cursor: pointer;
}

.play-screen {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}